.idea/
.vscode/
go.work.sum

# Event watcher
node_modules/
lib/
dist/
*.log
db.json
lastBlockByChain.json
lastBlocksByChain.json
globalTxs.json
wormholeTxs.json
.env
serviceAccountKey.json
bigtableAccountKey.json
tsconfig.tsbuildinfo
serviceAccount.json
.run/
__debug_*